Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
WeasyPrint==61.2
Pillow==10.3.0
python-barcode==0.16.1
reportlab==4.2.2
gunicorn==23.0.0
pip>=25.1.1
setuptools>=75.2.0
wheel>=0.44.0
