Flask==3.0.3
zeep==4.2.1
WeasyPrint==61.2
spyne==2.13.16
lxml==5.2.2
gunicorn==21.2.0
python-barcode==0.15.1
Pillow==10.3.0
Werkzeug==3.0.2
reportlab==4.2.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5

