<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Formulário Laudo MASTER</title>
</head>
<body>
<h2>Formulário de Laudo</h2>
<form method="POST" action="/">
<label>Data de Emissão:</label><br>
<input type="date" name="data_emissao" required><br><br>
<label>CPF/CNPJ do Cliente:</label><br>
<input type="text" name="cpf_cnpj" required><br><br>


<label>Nome do Cliente:</label><br>
<input type="text" name="nome_cliente" required><br><br>


<label>Endereço do Cliente:</label><br>
<input type="text" name="endereco_cliente"><br><br>


<label>Bairro do Cliente:</label><br>
<input type="text" name="bairro_cliente"><br><br>


<label>UF do Cliente:</label><br>
<input type="text" name="uf_cliente"><br><br>


<label>CEP do Cliente:</label><br>
<input type="text" name="cep_cliente"><br><br>


<label>Equipamento:</label><br>
<input type="text" name="equipamento" required><br><br>


<label>Produtos Utilizados:</label><br>
<textarea name="produtos_utilizados" rows="4" required></textarea><br><br>


<label>Processo:</label><br>
<textarea name="processo" rows="4" required></textarea><br><br>


<label>Veículo Transportador:</label><br>
<input type="text" name="veiculo"><br><br>


<label>Marca Placa/UF:</label><br>
<input type="text" name="placa"><br><br>


<label>Nome do Motorista:</label><br>
<input type="text" name="motorista"><br><br>


<label>CPF/ID do Motorista:</label><br>
<input type="text" name="cpf_motorista"><br><br>


<label>Total de Caixas Higienizadas:</label><br>
<input type="number" name="qtd_caixas"><br><br>


<label>Modelo de Caixa:</label><br>
<input type="text" name="modelo_caixas"><br><br>


<button type="submit">Gerar Laudo</button>
</form>
</body>
</html>
