{% extends "base.html" %}
{% block content %}
<h2>Gerar Laudo de Higienização</h2>
<form method="POST">
<label>Equipamento:</label><input type="text" name="equipamento" style="width: 50%;"><br>
<label for="produtos_utilizados">Produtos Utilizados:</label>
<textarea id="produtos_utilizados" name="produtos_utilizados" rows="8">
KALYCLEAN
Registro MS 315460158   Lote 10013020   Fabricação     Conc. 0,50 %
KALYCLEAN
Registro MS 315460140   Lote 10013703   Fabricação     Conc. 2,00 %
Marca 253   Marca KALUKIM
</textarea>
<label for="processo">Processo:</label>
<textarea id="processo" name="processo" rows="9">
1. Remoção manual de excedentes de sujidades, restos de frutas, folhas, etc.
2. Enxágue inicial já na lavadora, para remoção de pequenas sujidades.
3. Lavagem com o produto Kalyclean C253;
4. Enxágue para eliminação de resíduos de detergente e sujidades removidas.
5. Enxágue final com aplicação do Kalyclean S370.
</textarea>
<label>Nome do Cliente:</label><input type="text" name="nome_cliente" style="width: 50%;"><br>
<label>CPF/CNPJ:</label><input type="text" name="cpf_cnpj_cliente" style="width: 15%;"><br>
<label>Endereço:</label><input type="text" name="endereco" style="width: 70%;><br>
<label>Bairro:</label><input type="text" name="bairro" style="width: 30%;"><br>
<label>UF:</label><input type="text" name="uf" style="width: 4%;"><br>
<label>CEP:</label><input type="text" name="cep" style="width: 6%;"><br>
<label>Veículo Transportador:</label><input type="text" name="veiculo" style="width: 20%;"><br>
<label>Marca:</label><input type="text" name="marca" style="width: 20%;"><br>
<label>Placa/UF:</label><input type="text" name="placa" style="width: 6%;"><br>
<label>Nome do Motorista:</label><input type="text" name="motorista" style="width: 15%;"><br>
<label>CPF/ID:</label><input type="text" name="cpf_motorista" style="width: 15%;"><br>
<label>Total de Caixas Higienizadas:</label><input type="text" name="quantidade_caixas" style="width: 6%;"><br>
<label>Modelo de Caixa:</label><input type="text" name="modelo_caixas" style="width: 15%;"><br>
<button type="submit">Gerar Laudo</button>
</form>
{% endblock %}
