{% extends "base.html" %}
{% block content %}
<h2 style="text-align:center;">Laudo Nº {{ dados.numero_laudo }}</h2>
<p style="text-align:center;">Contagem, {{ dados.data_geracao }}</p>
<hr>
<p><strong>Equipamento:</strong> {{ dados.equipamento }}</p>
<p><strong>Produtos Utilizados:</strong><br>{{ dados.produtos_utilizados|nl2br }}</p>
<p><strong>Processo:</strong><br>{{ dados.processo|nl2br }}</p>
<p><strong>Nome do Cliente:</strong> {{ dados.nome_cliente }}</p>
<p><strong>CPF/CNPJ:</strong> {{ dados.cpf_cnpj }}</p>
<p><strong>Endereço:</strong> {{ dados.endereco }}</p>
<p><strong>Bairro:</strong> {{ dados.bairro }}</p>
<p><strong>UF:</strong> {{ dados.uf }}</p>
<p><strong>CEP:</strong> {{ dados.cep }}</p>
<p><strong>Veículo:</strong> {{ dados.veiculo }}</p>
<p><strong>Marca:</strong> {{ dados.marca }}</p>
<p><strong>Placa/UF:</strong> {{ dados.placa }}</p>
<p><strong>Motorista:</strong> {{ dados.motorista }}</p>
<p><strong>CPF/ID:</strong> {{ dados.cpf_motorista }}</p>
<p><strong>Total de Caixas Higienizadas:</strong> {{ dados.total_caixas }}</p>
<p><strong>Modelo de Caixa:</strong> {{ dados.modelo_caixa }}</p>
<p>Validade: {{ dados.data_validade }}</p>
<hr>
<div style="text-align:center;">
  <p>Confira a autenticidade através do código de barras abaixo.</p>
  <img src="data:image/png;base64,{{ dados.barcode }}" style="height:35px;">
</div>
{% endblock %}
